<h2 class="visually-hidden">Advantures</h2>
    <div class="fourth-section-container">
        <div class="order-list-container">
            <ol class="order-list">
                <li class="order-list-item">
                    <h3 class="order-item-number">01</h3>
                    <img class="img-order-list" src="./images/rectangle.jpg"
                 alt="rectangle"
                 width="318"
                 />
                    <p class="order-item-text order-item-text1">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="order-list-item">
                    <h3 class="order-item-number">02</h3>
                        <img class="img-order-list" src="./images/rectangle.jpg"
                 alt="rectangle"
                 width="318"
                 />
                    <p class="order-item-text">Fishing: try to catch your own dinner</p>
                </li>
                <li class="order-list-item">
                    <h3 class="order-item-number">03</h3>
                        <img class="img-order-list" src="./images/rectangle.jpg"
                 alt="rectangle"
                 width="318"
                 />
                    <p class="order-item-text order-item-text3">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water </p>
                </li>
                <li class="order-list-item">
                    <h3 class="order-item-number">04</h3>
                        <img class="img-order-list" src="./images/rectangle.jpg"
                 alt="rectangle"
                 width="318"
                 />
                    <p class="order-item-text order-item-text4">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
                </li>
            </ol>
        </div>
            <picture>
                <source srcset="./images/adventures.jpg 1x, ./images/adventures-desktop14@2x.jpg 2x" media="(min-width: 1440px)"/>
                <source srcset="./images/adventures-desktop12.jpg 1x, ./images/adventures-desktop12@2x.jpg 2x" media="(min-width: 1280px)"/>
                <source srcset="./images/adventures-tablet.jpg 1x, ./images/adventures-tablet@2x.jpg 2x" media="(min-width: 768px)"/>
                <source srcset="./images/adventures-mobile.jpg 1x, ./images/adventures-mobile@2x.jpg 2x" media="(max-width: 767px)"/>
                <img class="img-fourth-section" src="./images/adventures.jpg"
                         alt="adventures"
                         width="540"
                        />
            </picture>
        </div>
</section>