<div class="main-image"></div>
<header class="header-page">
  <div class="container">
    <nav class="header-page-nav">
        <a class="header-page-logo" href="./index.html">yachtjet</a>
        <ul class="header-page-nav-list">
            <li class="header-nav-list-item">
                <a class="header-nav-list-link nav-list-link-about" href="">About</a></li>
            <li class="header-nav-list-item">
                <a class="header-nav-list-link" href="">Yachts</a></li>
            <li class="header-nav-list-item">
                <a class="header-nav-list-link" href="">Reviews</a></li>
        </ul>
        <ul class="header-page-social-list">
            <li class="social-list-item">
                <a class="header-social-link" href="https://www.instagram.com/" target="_blank">
                    <svg class="header-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-instagram-logo"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list-item">
                <a class="header-social-link" href="https://www.youtube.com/" target="_blank">
                    <svg class="header-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-youtube-logo"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list-item">
                <a class="header-social-link" href="https://www.facebook.com/" target="_blank">
                    <svg class="header-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-facebook-logo"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    <button class="burger-button" type="button" data-menu-open>
        <svg class="burger-icon" width="28" height="28">
          <use href="./images/icons.svg#icon-burger-menu"></use>
        </svg>
    </button>
</div>

<div class="mobile-menu" data-menu>
    <div class="mobile-menu-header-container">
        <a class="mobile-menu-logo" href="./index.html">yachtjet</a>
        <button class="mobile-menu-close-button" type="button" data-menu-close>
            <svg class="mobile-close-button-svg" width="28" height="28">
              <use href="./images/icons.svg#icon-close-menu"></use>
            </svg>
        </button>
    </div>
    <div class="mobile-menu-container">
        <nav class="mobile-menu-nav">
            <ul class="mobile-menu-nav-list">
                <li class="mobile-menu-nav-list-item">
                    <a class="mobile-menu-nav-list-link mobile-menu-nav-list-link-about" href="">About</a></li>
                <li class="mobile-menu-nav-list-item">
                    <a class="mobile-menu-nav-list-link" href="">Yachts</a></li>
                <li class="mobile-menu-nav-list-item">
                    <a class="mobile-menu-nav-list-link" href="">Reviews</a></li>
            </ul>
            <ul class="mobile-menu-social-list">
                <li class="mobile-menu-list-item">
                    <a class="mobile-menu-social-link" href="https://www.instagram.com/" target="_blank">
                        <svg class="header-icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-instagram-logo"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile-menu-list-item">
                    <a class="mobile-menu-social-link" href="https://www.youtube.com/" target="_blank">
                        <svg class="header-icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-youtube-logo"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile-menu-list-item">
                    <a class="mobile-menu-social-link" href="https://www.facebook.com/" target="_blank">
                        <svg class="header-icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-facebook-logo"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</header>
