.fifth-section {
    padding: 80px 20px;
}

.fifth-section-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 80px;
    width: 335px;
    margin: 0 auto;
}

.img-fifth-section {
    border-radius: 24px;
}

.fifth-section-text {
    text-align: left;
    padding-bottom: 40px;

    font-weight: 500;
    font-size: 28px;

    /* line-height: 28px; */
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.fifth-section-label {
    display: block;
    margin-bottom: 18px;
}

.fifth-section-input {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding: 14px 0 14px 18px;
    width: 100%;
    height: 42px;
    background-color: transparent;

    font-weight: 400;
    font-size: 12px;

    /* line-height: 14px; */
    line-height: 1.17;
    color: rgba(251, 251, 251, 0.4);
}

.fifth-section-textarea {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding: 14px 0 0 18px;
    width: 100%;
    height: 108px;
    background-color: transparent;
    display: block;
    margin-bottom: 40px;
    resize: none;
    overflow: hidden;

    font-weight: 400;
    font-size: 12px;

    /* line-height: 14px; */
    line-height: 1.17;
    color: rgba(251, 251, 251, 0.4);
}

.fifth-section-form-btn {
    border-radius: 15px;
    padding-block: 14px;
    padding-inline: 44px;
    width: 122px;
    height: 46px;

    background: #1b414b;

    font-weight: 500;
    font-size: 14px;
    /* line-height: 18px; */
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fbfbfb;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .fifth-section {
        padding: 150px 32px;
    }

    .fifth-section-container {
        gap: 100px;
        width: 704px;
    }

    .form-container {
        width: 472px;
        margin: 0 auto;
    }

    .fifth-section-text {
        padding-bottom: 50px;
        font-size: 48px;
    }

    .fifth-section-input {
        padding: 18px 0 18px 18px;
        height: 54px;
        font-size: 14px;
        line-height: 1.29;
    }

    .fifth-section-textarea {
        padding: 18px 0 0 18px;
        height: 116px;
        font-size: 14px;
        line-height: 1.29;
        margin-bottom: 50px;
    }

    .fifth-section-form-btn {
        padding-block: 18px;
        padding-inline: 75px;
        width: 194px;
        height: 56px;
        font-size: 18px;
        line-height: 1.1;
    }
}

@media screen and (min-width: 1280px) {
    .fifth-section {
        padding: 150px 50px;
    }

    .fifth-section-container {
        flex-direction: row;
        gap: 50px;
        width: 1180px;
    }

    .img-fifth-section {

        height: 100%;
    }

    .fifth-section-input:hover,
    .fifth-section-input:focus,
    .fifth-section-textarea:hover,
    .fifth-section-textarea:focus {
        border-color: #fbfbfb;
    }

    .fifth-section-input:hover::placeholder,
    .fifth-section-input:focus::placeholder,
    .fifth-section-textarea:hover::placeholder,
    .fifth-section-textarea:focus::placeholder {
        color: #fbfbfb;
    }

    .fifth-section-form-btn:hover,
    .fifth-section-form-btn:focus {
        background-color: #fbfbfb;
        color: #1b414b;
    }
}

@media screen and (min-width: 1440px) {
    .fifth-section {
        padding: 150px 100px 150px 50px;
    }

    .fifth-section-container {
        width: 1290px;
    }

    .img-fifth-section {
        width: 768px;
    }
}