.footer-page {
    border-radius: 24px 24px 0 0;
    background: #1b414b;
    margin: 0 auto;
    padding: 40px 30px 20px;
    width: 355px;
}

.footer-page-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.footer-page-logo {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #fbfbfb;
}

.footer-page-nav-list {
    display: flex;
    gap: 4px;
    margin-left: auto;
}

.footer-nav-list-link {
    background-color: rgba(251, 251, 251, 0.3);
    border-radius: 8px;
    width: 66px;
    height: 40px;
    padding: 15px 12px;
    display: block;
    font-weight: 400;
    font-size: 9px;
    /* line-height: 12px; */
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page-social-list {
    display: flex;
    gap: 8px;
    margin: 0 auto;
    padding-top: 58px;
}

.footer-social-link {
    fill: #fbfbfb;
    color: #1b414b;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-paragraph {
    font-weight: 400;
    font-size: 18px;

    /* line-height: 18px; */
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;

    padding: 40px 0 82px;
    width: 280px;
    margin: 0 auto;
}

.footer-ending-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-ending-paragraph {
    font-weight: 400;
    font-size: 12px;

    /* line-height: 14px; */
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(251, 251, 251, 0.4);
}

@media screen and (min-width: 768px) {
    .footer-page {
        padding: 50px 48px 20px;
        width: 736px;
    }

    .footer-page-nav {
        flex-wrap: nowrap;
    }

    .footer-page-logo {
        font-size: 20px;
    }

    .footer-page-nav-list {
        margin-left: 0;
        padding-left: 88px;
        padding-right: 69px;
    }

    .footer-nav-list-link {
        width: 91px;
        padding: 15px 25px 15px 24px;
    }

    .footer-page-social-list {
        padding: 0;
        margin: 0;
    }

    .footer-paragraph {
        font-size: 32px;
        padding: 96px 0 99px;
        width: 640px;
    }

    .footer-ending-container {
        gap: 32px;
    }

    .footer-ending-paragraph {
        font-size: 14px;
        line-height: 1.18;
    }
}

@media screen and (min-width: 1280px) {
    .footer-page {
        padding: 50px 75px 20px;
        width: 1230px;
    }

    .footer-page-nav-list {
        padding-left: 308px;
        padding-right: 289px;
    }

    .footer-nav-list-link:hover,
    .footer-nav-list-link:focus {
        background-color: #fbfbfb;
        color: #1b414b;
    }

    .footer-social-link:hover,
    .footer-social-link:focus {
        fill: rgba(251, 251, 251, 0.8);
    }

    .footer-paragraph {
        width: 693px;
    }
}

@media screen and (min-width: 1440px) {
    .footer-page {
        width: 1390px;
    }

    .footer-page-nav-list {
        padding-left: 387px;
        padding-right: 366px;
    }

    .footer-paragraph {
        width: 699px;
    }
}