.fourth-section {
    padding-top: 80px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.fourth-section-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 335px;
    margin: 0 auto;
}

.order-list-container {
    border-radius: 24px;
    width: 335px;
    height: 642px;
    padding: 80px 20px;
    background-color: #1b414b;
}

.order-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.order-item-number {
    font-weight: 500;
    font-size: 28px;

    /* line-height: 32px; */
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
    padding-bottom: 18px;
}

.img-order-list {
    border-radius: 18px;
    width: 295px;
    height: 2px;
    color: rgba(251, 251, 251, 0.1);

    opacity: 0.8;
}

.order-item-text {
    font-weight: 400;
    font-size: 12px;

    /* line-height: 14px; */
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    padding-top: 18px;

    opacity: 0.8;
}

.order-item-text1 {
    width: 238px;
}

.order-item-text3,
.order-item-text4 {
    width: 292px;
}

.img-fourth-section {
    border-radius: 24px;
}

@media screen and (min-width: 768px) {
    .fourth-section {
        padding-top: 150px;
    }

    .fourth-section-container {
        gap: 32px;
        width: 704px;
    }

    .order-list-container {
        width: 704px;
        height: 424px;
        padding: 90px 32px;
    }

    .order-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 44px;
        column-gap: 32px;
    }

    .order-list-item {
        width: calc((100% - 44px) / 2);
    }

    .order-item-number {
        font-size: 32px;
    }

    .img-order-list {
        width: 304px;
    }

    .order-item-text {
        font-size: 13px;
        line-height: 1.15;
    }

    .img-fourth-section {
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .fourth-section-container {
        flex-direction: row;
        gap: 32px;
        width: 1180px;
    }

    .order-list-container {
        width: 716px;
        padding: 90px 50px;
    }

    .img-order-list {
        width: 280px;
    }
}

@media screen and (min-width: 1440px) {
    .fourth-section-container {
        width: 1340px;
    }

    .order-list-container {
        width: 768px;
    }

    .img-order-list {
        width: 318px;
    }
}