/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


/* Sections style */
@import url('./header.css');
@import url('./first-section.css');
@import url('./second-section.css');
@import url('./third-section.css');
@import url('./fourth-section.css');
@import url('./fifth-section.css');
@import url('./sixth-section.css');
@import url('./footer.css');