.third-section {
    padding-top: 80px;
}

.third-section-container {
    width: 335px;
    margin: 0 auto;
}

.text {
    font-weight: 500;
    font-size: 28px;
    /* line-height: 28px; */
    line-height: 1;
    letter-spacing: -0.02em;
}

.third-section-text {
    text-align: center;
    color: #fbfbfb;
    width: 319px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 40px;
}

.third-section-list {
    padding-bottom: 40px;
}

.hidden-item-benetti,
.hidden-item-belle-anna {
    display: none;
}

.third-section-item {
    border-radius: 24px;
    width: 100%;
    height: 478px;
    padding: 16px 16px 0;
    background-color: #fbfbfb;
}

.left-text-categories {
    display: inline-block;
    text-align: left;
    padding: 32px 0 16px 16px;

    font-weight: 500;
    font-size: 14px;

    /* line-height: 17px; */
    line-height: 1.18;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1b414b;
}

.right-text-categories {
    display: inline-block;
    text-align: right;
    padding: 33.5px 16px 17.5px 0;

    font-weight: 400;
    font-size: 12px;

    /* line-height: 14px; */
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;

    opacity: 0.4;
}

.img-third-section-vector {
    margin: 0 auto;
    stroke-width: 1px;
    stroke: rgba(4, 3, 6, 0.1);
    width: 272px;
}

.inside-third-section-item {
    padding: 16px 16px 0;
}

.left-text-parameters {
    display: inline-block;
    text-align: left;
    gap: 6px;

    width: 72px;
    height: 109px;

    font-weight: 400;
    font-size: 14px;

    /* line-height: 17px; */
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;

    opacity: 0.4;
}

.right-text-parameters {
    display: inline-block;
    text-align: right;
    gap: 6px;

    width: 96px;
    height: 109px;

    font-weight: 400;
    font-size: 14px;

    /* line-height: 17px; */
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #040306;
}

.third-section-button {
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    display: block;
    margin: 0 auto;
    width: 141px;
    height: 46px;
    border: 1px solid rgba(251, 251, 251, 0.35);

    border-radius: 15px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .third-section {
        padding-top: 150px;
    }

    .third-section-container {
        width: 704px;
    }

    .text {
        font-size: 48px;
    }

    .third-section-text {
        width: 645px;
        padding-top: 150px;
        padding-bottom: 75px;
    }

    .third-section-list {
        display: flex;
        justify-content: center;
        gap: 32px;
        padding-bottom: 50px;
    }

    .hidden-item-benetti {
        display: block;
    }

    .third-section-item {
        height: 508px;
    }

    .left-text-categories {
        font-size: 16px;
        line-height: 1.2;
    }

    .right-text-categories {
        padding: 34px 16px 18px 0;
        font-size: 13px;
        line-height: 1.18;
    }

    .third-section-button {
        font-size: 18px;
        line-height: 1.1;
        width: 179px;
        height: 52px;
    }
}

@media screen and (min-width: 1280px) {
    .third-section-container {
        width: 1181px;
    }

    .third-section-text {
        width: 714px;
        padding-bottom: 63px;
    }

    .third-section-list {
        gap: 25px;
        padding-bottom: 62px;
    }

    .hidden-item-belle-anna {
        display: block;
    }

    .img-third-section-vector {
        width: 313px;
    }

    .third-section-button:hover,
    .third-section-button:focus {
        background-color: #fbfbfb;
        color: #1b414b;
    }
}

@media screen and (min-width: 1440px) {
    .third-section-container {
        width: 1240px;
    }

    .third-section-text {
        padding-bottom: 75px;
    }

    .third-section-list {
        gap: 32px;
        padding-bottom: 50px;
    }

    .img-third-section-vector {
        width: 328px;
    }
}